#navigation-panel {
  display: block;
  position: fixed;
  z-index: 10;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: calc(100% - 100px);
  background: $navigation;
  transform: translateY(-100%);
  transition: 0.2s transform ease-in-out;
  padding: 20px 10px;
  box-sizing: border-box;

  &.visible {
    transform: translateY(0);

    .toggle-button {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    //list-style-type: none;
    display: block;

    &.rooms-list {
      margin-bottom: 40px;
    }

    li {
      display: block;
      font-size: 20px;
      font-weight: 800;
      line-height: 26px;
      margin: 20px 5px;
    }
  }
  .toggle-button {
    position: absolute;
    bottom: -60px;
    right: -60px;
    background: $navigation;
    padding: 0;
    border-radius: 50%;
    min-width: 120px;
    min-height: 120px;

    svg {
      position: absolute;
      bottom: 25px;
      left: 30px;
      color: white;
      font-size: 20px;
      transition: 0.2s transform ease-in-out;
    }
  }
}